{% extends 'ssml/ssmlbase.html' %}
{% load static %}

{% block body %}
{% if user.is_superuser %}
<div class="card-header">
    <div class="d-flex justify-content-between">
        <div class="w-50">
            <select name="" id="filter_by" class="form-select" style="width: fit-content;">
                
                <option value="approved">Approved</option>
                <option value="pending">Pending</option>
                <option value="*">All</option>
            </select>
        </div>
        <div class="w-50 d-flex justify-content-end">
            
            <button class="btn btn-primary btn-sm" onclick="ssml.addExpTransaction()"><i class="bi bi-plus"></i> Add Transaction</button>
            
            <!-- INSERT_YOUR_CODE -->
            <div class="dropdown ms-2">
                <button class="btn btn-success dropdown-toggle" type="button" id="bulkActionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-check2-all"></i> Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="bulkActionsDropdown">
                    <h3 class="dropdown-header">Actions</h3>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="ssml.approveExpenses('*')">
                        <i class="bi bi-check-circle"></i> Approve All
                    </a>
                    <a class="dropdown-item" href="{% url 'request_expense' %}">
                        <i class="bi bi-calendar-day"></i> 
                        Request Exponses
                    </a>

                    <div class="dropdown-divider"></div>
                    <h3 class="dropdown-header">Reports</h3>
                    <div class="dropdown-divider"></div>
                    
                    <a class="dropdown-item" href="#" onclick="ssml.exportExpenses()">
                        <i class="bi bi-calendar-day"></i> 
                        Export Exponses
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body p-3 overflow-auto">
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center">

            <div class="col-xxl-4 col-md-4">
                <div class="card info-card sales-card text-info">
                    <div class="card-header">
                        <strong class="card-title">Total In</strong>
                    </div>
                    <div class="card-body p-0">
                        <div class="w-100 d-flex justify-content-center align-items-center p-5">
                            <h2 id="total_in" class="display-6 m-0">0.00</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-md-4">
                <div class="card info-card sales-card text-danger">
                    <div class="card-header">
                        <strong class="card-title">Total Out</strong>
                    </div>
                    <div class="card-body p-0">
                        <div class="w-100 d-flex justify-content-center align-items-center p-5">
                            <h2 id="total_out" class="display-6 m-0">0.00</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-md-4">
                <div class="card info-card sales-card text-primary">
                    <div class="card-header">
                        <strong class="card-title">Balance</strong>
                    </div>
                    <div class="card-body p-0">
                        <div class="w-100 d-flex justify-content-center align-items-center p-5">
                            <h2 id="total_expenses" class="display-6 m-0">0.00</h2>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-12">
                <div class="card overflow-auto">
                    <div class="card-body overflow-auto">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>DIRECTION</th>
                                    <th>TYPE</th>
                                    <th>AMOUNT</th>
                                    <th>DATE</th>
                                    <th>REFERENCE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody id="expenses_table">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            
        </div>
    </div>
</div>

{%else%}
    No Access
{%endif%}


<script>
    ssml.loadExpenses('approved')
    $('#filter_by').change(function(){
        ssml.loadExpenses($('#filter_by').val())
    })
</script>



{% endblock %}