{% extends 'ssml/ssmlbase.html' %}
{% load static %}

{% block body %}

<div class="card-header">
    <div class="w-100 d-flex">
        <div class="w-50 d-flex justify-content-start">
            <button class="btn btn-primary rounded-0 ms-2" id="add_contractor"><i class="bi bi-plus"></i> Add Contractor</button>
            <button class="btn btn-warning rounded-0 ms-2" id="edit_contractor"><i class="bi bi-pencil"></i> Edit</button>
            <button class="btn btn-secondary rounded-0 ms-2" id="prev_contractor"><i class="bi bi-arrow-left"></i></button>
            <button class="btn btn-secondary rounded-0 ms-2" id="next_contractor"><i class="bi bi-arrow-right"></i></button>
        </div>
        <div class="w-50 d-flex justify-content-end">
            
            <button class="btn btn-info rounded-0 ms-2" id="view_contractor"><i class="bi bi-eye"></i> View</button>
            <button class="btn btn-info rounded-0 ms-2" id="close_jobs"><i class="bi bi-eye"></i> Close Jobs</button>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle ms-2" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-file-export"></i> Export
                </button>
                <div class="dropdown-menu" aria-labelledby="exportDropdown">
                    <a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-file-pdf text-danger"></i> PDF</a>
                    <a class="dropdown-item export_excel" href="javascript:void(0)"><i class="fas fa-file-excel text-success"></i> Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body p-2">

    <div class="container-fluid p-2 h-75 overflow-hidden">
        <div class="row py-4" style="background-color: #d0d0d0;">
            <div class="col-sm-4">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control rounded-0" id="name" placeholder="">
                        <input type="hidden" id="contractor_id">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="owner">Owner</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control rounded-0" id="owner" placeholder="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="link">Link</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control rounded-0" id="link" placeholder="">
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control rounded-0" id="phone" placeholder="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control rounded-0" id="email" placeholder="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="address">Address</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control rounded-0" id="address" placeholder="">
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="debit">Debit</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" value="loading..." readonly class="form-control rounded-0" id="debit" placeholder="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="credit">Credit</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" value="loading..." readonly class="form-control rounded-0" id="credit" placeholder="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="balance">Balance</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" value="loading...." readonly class="form-control rounded-0" id="balance" placeholder="">
                    </div>
                </div>
            </div>

        </div>

        <div class="row h-75 overflow-hidden">
            <div class="col-sm-12 h-100">
                <div class="table-responsive h-100">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Meter</th>
                                <th>Date</th>
                                <th>Geo</th>
                                <th>Service</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="jobs">
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    
</div>


<script>

    let next = '';
    let previous = '';
    $(document).ready(function(){
        ssml.loadContractor(`{{ last_contractor.id }}`);

        $('#view_contractor').click(function(){
            ssml.ViewContractor($('#contractor_id').val());
        });

        $('#edit_contractor').click(function(){
            ssml.EditContractor($('#contractor_id').val());
        });

        $('#add_contractor').click(function(){
            ssml.AddContractor();
        });

        $('#next_contractor').click(function(){
            ssml.loadContractor(next)
        })

        $('#prev_contractor').click(function(){
            ssml.loadContractor(previous)
        })

        $('#close_jobs').click(async function(){
            if(confirm("Are You Sure>")){
                let id = $('#contractor_id').val()
                // get all penidng jobs
                let payload = {
                    module: 'service_order',
                    data: {
                        id: '*',
                        contractor: id,
                        filter: 'contractor'
                    }
                }
                loader.show()

                await api.v2('VIEW',payload,'/ssml/api/').then(response => {
                    if(anton.IsRequest(response)){
                        console.log("Here We")
                        let messsage = response['message']
                        console.table(messsage.length)
                        for(let j = 0; j < messsage.length; j++){
                            let service_id = messsage[j].id;
                            if(messsage[j].status === 'pending'){
                                ssml.closeJob(service_id)
                            }
                            
                        }
                        console.table(messsage)
                        loader.hide()
                    } else {
                        console.log("Alhaji")
                        loader.hide()
                    }
                }).catch(error => {
                    kasa.error(error)
                    loader.hide()
                })


            } else {
                kasa.info("Operation Cancelled")
            }
        })


        $('.export_excel').click(function(){
            let id = $('#contractor_id').val();
            ssml.exportContractorService('excel',id)
        })
        


    });
</script>
{% endblock %}