{% extends 'ssml/ssmlbase.html' %}
{% load static %}

{% block body %}


<div class="card-header">
    <div class="d-flex justify-content-between">
        <div class="w-50 d-flex">
            <h4>issue</h4>
        </div>
        <div class="w-50 d-flex justify-content-end align-items-center">
            <button class="btn btn-warning" id="contractor_btn">Contractors</button>
            <button id="save_issue" class="btn btn-success ms-2"><i class="bi bi-save"></i> Save</button>
            <button id="add_item" class="btn btn-info ms-2"><i class="bi bi-plus"></i> Item</button>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="container p-1">
        <div class="row bg-warning text-dark py-4">
            <div class="col-md-4">
                <div class="form-group row mb-2">
                    <label for="supplier" class="col-sm-4 col-form-label">Contractor</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="contractor" name="contractor">
                            
                            {% for contractor in contractors %}
                                <option value="{{contractor.id}}" {% if issue.contractor.id == contractor.id %}selected{% endif %}>{{contractor.company}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="issue_no" class="col-sm-4 col-form-label">issue No</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="auto generate" value="{{issue.issue_no}}" disabled class="form-control" id="issue_no" name="issue_no">
                        <input type="hidden" value="{{issue.id}}" id="id" name="id">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="issue_date" class="col-sm-4 col-form-label">issue Date</label>
                    <div class="col-sm-8">
                        <input type="date" value="{{issue_date_to_html}}" class="form-control" id="issue_date" name="issue_date">
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group row mb-2">
                    <label for="total_qty" class="col-sm-4 col-form-label">Total Qty</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{issue.total_qty}}" class="form-control" id="total_qty" name="total_qty">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="total_amount" class="col-sm-4 col-form-label">Total Amount</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{issue.total_amount}}" class="form-control" id="total_amount" name="total_amount">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="remarks" class="col-sm-4 col-form-label">Remarks</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{issue.remarks}}" class="form-control" id="remarks" name="remarks">
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group row mb-2">
                    <label for="issue_type" class="col-sm-4 col-form-label">issue Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="issue_type" name="issue_type">
                            <option value="">Select Issue Type</option>
                            {% for issue_type in issue_types %}
                                <option value="{{issue_type.0}}" {% if issue.issue_type == issue_type.0 %}selected{% endif %}>{{issue_type.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="issue_status" class="col-sm-4 col-form-label">issue Status</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{issue.status}}" class="form-control" id="issue_status" name="issue_status">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="created_by" class="col-sm-4 col-form-label">Created By</label>
                    <div class="col-sm-8">
                        <input type="hidden" class="form-control" value="{{request.user.pk}}" disabled id="created_by" name="created_by">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-md-12" style="background-color: #fff;">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th style="width: 150px;">BARCODE</th>
                                <th style="width: 300px;">NAME</th>
                                <th>UOM</th>
                                <th>PACK QTY</th>
                                <th>QTY</th>
                                <th>RATE</th>
                                <th>AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="row_list">
                            {% for transaction in issue_transactions %}
                                <tr id="row_{{forloop.counter}}" ondblclick="$(this).remove()">
                                    <td id="row_no_{{forloop.counter}}">{{forloop.counter}}</td>
                                    <td id="barcode_{{forloop.counter}}">{{transaction.material.barcode}}</td>
                                    <td id="name_{{forloop.counter}}">{{transaction.material.name}}</td>
                                    <td ><input id="uom_{{forloop.counter}}" type="text" class="form-control form-control-sm" value="{{transaction.uom}}"></td>
                                    <td ><input id="pack_qty_{{forloop.counter}}" type="text" class="form-control form-control-sm" value="{{transaction.pack_qty}}"></td>
                                    <td ><input id="qty_{{forloop.counter}}" type="text" class="form-control form-control-sm" value="{{transaction.qty}}"></td>
                                    <td ><input id="rate_{{forloop.counter}}" type="text" class="form-control form-control-sm" value="{{transaction.rate}}"></td>
                                    <td ><input id="amount_{{forloop.counter}}" type="text" class="form-control form-control-sm" value="{{transaction.amount}}"></td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>



    async function addItem(barcode,name){
        let next_row = $('#row_list tr').length + 1;
        $('#row_list').append(`
                                    <tr id="row_${next_row}">
                                        <td class='pointer' ondblclick="deleteRow(${next_row})" id="row_no_${next_row}">${next_row}</td>
                                        <td id="barcode_${next_row}">${barcode}</td>
                                        <td id="name_${next_row}">${name}</td>
                                        <td><input type="text" class="form-control form-control-sm" value="PCS" id="uom_${next_row}"></td>
                                        <td><input type="text" class="form-control form-control-sm" value="1" id="pack_qty_${next_row}"></td>
                                        <td><input type="text" class="form-control form-control-sm" value="1" id="qty_${next_row}"></td>
                                        <td><input type="text" class="form-control form-control-sm" value="0" id="rate_${next_row}"></td>
                                        <td><input type="text" class="form-control form-control-sm" value="0" id="amount_${next_row}"></td>
                                    </tr>
                                `);
    }

    function deleteRow(row_no){
        $(`#row_${row_no}`).remove();
    }

    $(document).ready(function(){
        $('#contractor_btn').click(function(){
            
        });

        $("#add_item").click(function () {
            let form = `
                <div class="form-group row mb-2">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="find_barcode" name="find_barcode">
                    </div>
                </div>
                <div style='height: 30vh; overflow-y: auto;'>
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th>BARCODE</th><th>NAME</th>
                            </tr>
                        </thead>
                        <tbody id="item_list">
                            
                        </tbody>
                    </table>
                </div>
            `;
            amodal.setTitleText('Add Item');
            amodal.setBodyHtml(form);
            amodal.show();

            $("#find_barcode").on('keyup', async function () {
                let barcode = $(this).val();
                if(event.keyCode === 13){
                    let payload = {
                        module: 'material',
                        data: {
                            id: barcode
                        }
                    };  
                    await api.v2('VIEW', payload, '/ssml/api/').then(res => {
                        if(anton.IsRequest(res)){
                            let material = res.message;
                            let item_list = '';
                            for(let i = 0; i < material.length; i++){
                                item_list += `<tr ><td>${material[i].barcode}</td><td>${material[i].name}</td>
                                                <td><button onclick="addItem('${material[i].barcode}','${material[i].name}')" class="btn btn-sm btn-primary" data-barcode="${material[i].barcode}" data-name="${material[i].name}">Add</button></td></tr>`;
                            }
                            $('#item_list').html(item_list);
                        } else {
                            kasa.error(res.message || 'Failed to get material');
                        }
                    }).catch(err => {
                        kasa.error(err.message || 'Failed to get material');
                    });

                    
                    $(document).on('click', '.clickable-row', function() {
                        let barcode = $(this).data('barcode');
                        let name = $(this).data('name');
                        
                        let next_row = $('#row_list tr').length + 1;
                        $('#row_list').append(`
                            <tr id="row_${next_row}">
                                <td id="row_no_${next_row}">${next_row}</td>
                                <td id="barcode_${next_row}">${barcode}</td>
                                <td id="name_${next_row}">${name}</td>
                                <td><input type="text" class="form-control form-control-sm" value="PCS" id="uom_${next_row}"></td>
                                <td><input type="text" class="form-control form-control-sm" value="1" id="pack_qty_${next_row}"></td>
                                <td><input type="text" class="form-control form-control-sm" value="1" id="qty_${next_row}"></td>
                                <td><input type="text" class="form-control form-control-sm" value="0" id="rate_${next_row}"></td>
                                <td><input type="text" class="form-control form-control-sm" value="0" id="amount_${next_row}"></td>
                            </tr>
                        `);
                        amodal.hide();
                    });
                }
            });
        });


        $('#save_issue').click(async function(){
            let hd = ['contractor','issue_date','remarks','issue_type','created_by','id'];
            if(anton.validateInputs(hd)){
                let payload = {
                    module:'issue',
                    data:anton.Inputs(hd)
                }
                // check transactions length
                if($('#row_list tr').length == 0){
                    kasa.error('Please add at least one item');
                    return;
                }

                // make transactions
                let transactions = [];
                $('#row_list tr').each(function(){
                    let row = $(this);
                    
                    let id = $(this).attr('id');
                    console.log(id);
                    let next_row = row.attr('id').split('_')[1];
                    let barcode = $(`#barcode_${next_row}`).text();
                    let name = $(`#name_${next_row}`).text();
                    let uom = $(`#uom_${next_row}`).val();
                    let pack_qty = $(`#pack_qty_${next_row}`).val();
                    let qty = $(`#qty_${next_row}`).val();
                    let rate = $(`#rate_${next_row}`).val();
                    let amount = $(`#amount_${next_row}`).val();
                    transactions.push({
                        barcode: barcode,
                        name: name,
                        qty: qty,
                        rate: rate,
                        amount: amount,
                        uom: uom,
                        pack_qty: pack_qty,
                        

                    });
                });
                payload.data.transactions = transactions;
                console.table(payload);
                await api.v2('PATCH',payload,'/ssml/api/').then(res=>{
                    kasa.response(res);
                    if(anton.IsRequest(res)){
                        kasa.success('Issue updated successfully');
                        location.href = '{% url "issue" %}';
                    } else {
                        kasa.error(res.message || 'Failed to update issue');
                    }
                }).catch(err=>{
                    kasa.error(err.message || 'Failed to update issue');
                });
            }
        });
    });
</script>

{% endblock %}