{% extends 'ssml/ssmlbase.html' %}
{% load static %}

{% block body %}

<div class="modal fade" id="link_model_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>NAME</th><th>ACTIOn</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for srv in services%}
                            <tr>
                                <td>{{srv.name}}</td>
                                <td><button class="btn btn-sm btn-info add_service" data-id="{{srv.id}}">Add</button></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="card-header">
    <div class="d-flex justify-content-between">
        <div class="w-50 d-flex justify-content-start">
            <button class="btn btn-sm btn-primary ms-2" id="edit_material">Edit</button>
            <button class="btn btn-sm btn-primary ms-2" id="rates">Rates</button>
            <button class="btn btn-sm btn-primary ms-2" id="prev-material"><i class="fas fa-arrow-left"></i> Previous</button>
            <button class="btn btn-sm btn-primary ms-2" id="next-material">Next <i class="fas fa-arrow-right"></i></button>
            <button class="btn btn-sm ms-2 btn-info link_model" data-bs-toggle="modal" data-bs-target="#link_model_model">Link Service</button>
            <button class="btn btn-sm btn-warning ms-2" id="stock-transfer">Stock Transfer</button>
        </div>
        <div class="w-50 d-flex justify-content-end">
            <button id="search-material" class="btn btn-primary">Search</button>
            <button id="add-material" class="btn btn-primary">Add Material</button>
            <button id="groups" class="btn btn-info">Groups</button>
        </div>
    </div>
</div>
<div class="card-body p-1 overflow-auto">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <input type="hidden" id="material_id" name="material_id" value="">
                    <div class="col-sm-4 mb-2"><label for="barcode">Barcode</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="barcode" name="barcode" value=""></div>

                    <div class="col-sm-4 mb-2"><label for="name">Name</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="name" name="name" value=""></div>

                    
                    

                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4 mb-2"><label for="value">Value</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="value" name="value" value=""></div>
    
                    <div class="col-sm-4 mb-2"><label for="group">Group</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="group" name="group" value=""></div>
    
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4 mb-2"><label for="reorder_qty">Reorder Qty</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="reorder_qty" name="reorder_qty" value=""></div>

                    <!-- <div class="col-sm-4 mb-2"><label for="stock_in">Stock In</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="stock_in" name="stock_in" value=""></div>

                    <div class="col-sm-4 mb-2"><label for="stock_out">Stock Out</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="stock_out" name="stock_out" value=""></div> -->

                    <div class="col-sm-4 mb-2"><label for="stock">Stock</label></div>
                    <div class="col-sm-8 mb-2"><input type="text" readonly class="form-control rounded-0" id="stock" name="stock" value=""></div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="container mt-4">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#cardex" role="tab">Cardex</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ratesx" role="tab">Rates</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stockx" role="tab">Stock</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#services" role="tab">Services</a>
                      </li>
                    </ul>
                  
                    <!-- Tab content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="cardex" role="tabpanel">
                            <div class="card">
                                <div class="card-header"><strong class="card-title">Cardex</strong></div>
                                <div style="height: 50vh; overflow-y: auto;" class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Date</th>
                                                <th>Doc Type</th>
                                                <th>Doc No</th>
                                                <th>Qty</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cardex_table">

                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <a href="" id="download-cardex" class="btn btn-primary">Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade p-3" id="ratesx" role="tabpanel">
                                <table class="table table-sm table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Description</th>
                                            <th>Rate</th>
                                            <th>Breakpoint</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rates_table"></tbody>
                                </table>
                        </div>
                        <div class="tab-pane fade p-3" id="stockx" role="tabpanel">
                            <table class="table table-sm w-50 table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th><i class="fas fa-map-marker-alt"></i> LOCATION</th>
                                        <th><i class="fas fa-arrow-down text-success"></i> IN</th>
                                        <th colspan="2"><i class="fas fa-arrow-up text-danger"></i> OUT</th>
                                        <th><i class="fas fa-boxes"></i> STOCK</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" colspan="2"></th>
                                        <th>ISS</th>
                                        <th>CONN</th>
                                        <th class="bg-light" ></th>
                                    </tr>
                                </thead>
                                <tbody id="stock_table"></tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade p-3" id="services" role="tabpanel">
                            <table class="table table-sm w-50 table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Service</th>
                                        <th>Qty</th>
                                    </tr>
                                </thead>
                                <tbody id="service_linked"></tbody>
                            </table>
                        </div>

                    </div>
                  </div>
                  
                <div class="card">
                    
                </div>
            </div>
        </div>
        

        
    </div>

    <!-- <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>IMG</th>
                    <th>BARCODE</th>
                    <th>NAME</th>
                    <th>VALUE</th>
                    <th>GROUP</th>
                    <th>STOCK IN</th>
                    <th>STOCK OUT</th>
                    <th>STOCK</th>
                    <th>REORDER QTY</th>
                    <th>STATUS</th>
                    <th>IS_ISSUE</th>
                    <th>IS_RETURN</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="materials-table">

            </tbody>
        </table>
    </div> -->
</div>


<script>
    let rt_options = `{{service_rates | safe}}`
    
    async function getMaterials() {
        let payload = {
            module: 'material',
            data: {
                id: '*'
            }
        };
        await api.v2('VIEW', payload, '/ssml/api/').then(res => {
            if (anton.IsRequest(res)) {
                let materials = res.message;
                if (materials.length > 0) {
                    let table = `
                        `;
                    materials.forEach(material => {
                        table += `
                            <tr>
                                <td><img onclick="anton.pageCenter('${material.image}', 'Material Image', 500, 500)" src="${material.image}" class="img-fluid img-thumbnail pointer" alt="Material Image" style="width: 30px; height: 30px;"></td>
                                <td>${material.barcode}</td>
                                <td>${material.name}</td>
                                <td>${material.value}</td>
                                <td>${material.group.name}</td>
                                <td class='text-success'>${material.stock_in}</td>
                                <td class='text-danger'>${material.stock_out}</td>
                                <td>${material.stock}</td>
                                <td>${material.reorder_qty}</td>
                                <td>${material.status}</td>
                                <td>${material.is_issue}</td>
                                <td>${material.is_return}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item see-cardex" href="javascript:void(0)" arial-id="${material.id}"><i class="fas fa-image"></i> Cardex</a>
                                            <a class="dropdown-item change-image" href="javascript:void(0)" arial-id="${material.id}"><i class="fas fa-image"></i> Change Image</a>
                                            <a class="dropdown-item edit-material" href="javascript:void(0)" arial-id="${material.id}"><i class="fas fa-edit"></i> Edit</a>
                                            <a class="dropdown-item delete-material" href="javascript:void(0)" arial-id="${material.id}"><i class="fas fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `;
                    });
                    $('#materials-table').html(table);
                } else {
                    $('#materials-table').html(`
                            <tr>
                                <td colspan="100%" class="text-center">No materials found</td>
                            </tr>
                        `);
                }
            } else {
                $('#materials-table').html(`
                            <tr>
                                <td colspan="100%" class="text-center">${res.message}</td>
                            </tr>
                        `);
            }
        }).catch(err => {

            $('#materials-table').html(`
                            <tr>
                                <td colspan="100%" class="text-center">${err.message}</td>
                            </tr>
                        `);
        });
    }

    let last_pk = `{{page.last_material.id}}`;
    

    $(document).ready(function () {

        // getMaterials();

        $('#materials-table').on('click', '.delete-material', function(){
            let id = $(this).attr('arial-id');
            let payload = {
                module: 'material',
                data: {
                    id: id
                }
            };

            kasa.confirm(
                api.call('DELETE', payload, '/ssml/api/'),
                1,
                'here'
            );
        });
        
        document.addEventListener('click', async function (e) {
            if (e.target.classList.contains('change-image')) {
                let id = e.target.getAttribute('arial-id');
                await api.v2('VIEW', {module: 'material', data: {id: id}}, '/ssml/api/').then(res => {
                    if (anton.IsRequest(res)) {
                        let material = res.message;

                        let form = `
                            <div class="text-center mb-3">
                                                <img src="${material.image}" class="img-fluid" alt="Material Image" style="max-width: 200px; max-height: 200px;">
                                            </div>
                                            <form method="post" id="upload-image" enctype="multipart/form-data" action="/ssml/upload_image/" class="form-group">
                                                <label for="image">Image</label>
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="${material.id}">
                                                <input type="file" accept="image/*" class="form-control" id="image" name="image_file" value="${material.image}" onchange="document.querySelector('img').src = window.URL.createObjectURL(this.files[0])">
                                            </form>
                        `
                        amodal.setTitleText('Change Image');
                        amodal.setBodyHtml(form);
                        amodal.setFooterHtml('<button class="btn btn-primary" id="change_img">Save</button> <button class="btn btn-secondary" id="cancel-material">Cancel</button>');
                        amodal.show();

                        $('#change_img').click(async function () {
                            $('#upload-image').submit();
                        });

                        }
                })
                
            }
        });

        $('#add-material').click(async function () {
            // get groups
            let payload = {
                module: 'group',
                data: {
                    id: '*'
                }
            };
            await api.v2('VIEW', payload, '/ssml/api/').then(res => {
                if (anton.IsRequest(res)) {
                    let groups = res.message;
                    let groupOptions = groups.map(group => `
                            <option value="${group.id}">${group.name}</option>
                        `).join('');


                    let form = `
                            <div class="form-group">
                                <label for="barcode">Barcode</label>
                                <input type="text" class="form-control" id="barcode" name="barcode" value="{{ next_barcode }}">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="group">Group</label>
                                <select class="form-control" id="group" name="group">
                                    ${groupOptions}
                                </select>
                            </div>
                            <hr>
                            
                            <div class="form-group">
                                <label for="reorder_qty">Reorder Qty</label>
                                <input type="number" class="form-control" id="reorder_qty" name="reorder_qty">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="value">Value</label>
                                <input type="number" class="form-control" id="value" name="value">
                            </div>
                            
                            
                        `;
                    amodal.setTitleText('Add Material');
                    amodal.setBodyHtml(form);
                    amodal.setFooterHtml('<button class="btn btn-primary" id="save-material">Save</button> <button class="btn btn-secondary" id="cancel-material">Cancel</button>');
                    amodal.show();

                    $('#save-material').click(async function () {
                        let ids = ['barcode', 'name', 'group', 'reorder_qty', 'value'];
                        if (anton.validateInputs(ids)) {
                            let payload = {
                                module: 'material',
                                data: {
                                    barcode: $('#barcode').val(),
                                    name: $('#name').val(),
                                    group: $('#group').val(),
                                    reorder_qty: $('#reorder_qty').val(),
                                    value: $('#value').val()
                                }
                            };
                            await api.v2('PUT', payload, '/ssml/api/').then(res => {
                                amodal.hide();
                                kasa.response(res);
                                getMaterials();
                            }).catch(err => {
                                kasa.error(err.message || 'Failed to create material');
                            });
                        }
                    });

                }
            }).catch(err => {
                kasa.error(err.message || 'Failed to get groups');
            });

            $('#cancel-material').click(function () {
                amodal.hide();
            });

            
        });

        $('#rates').click(function(){
            let barcode = $('#barcode').val();
            let table = `
                <table class='table table-sm table-bordered'>
                    <thead>
                        <tr>
                            <th>Service</th><th>Rate</th><th>Brake Point</th> 
                        </tr>
                    </thead>    
                </table>
            `
            amodal.setBodyHtml(table)
            amodal.setTitleText("Product Rates")
            amodal.setFooterHtml(`<button class='btn btn-info' id='add_product_rate'>Add Rates</button>`)
            amodal.show()


            $('#add_product_rate').click(function(){
                let form = `
                    <form id='add_rate_form' action='/ssml/material/add-rate/' method='post'>
                        <input type='hidden' name='mat_id' id = 'mat_id' value='${$('#material_id').val()}' >
                        <label for='service_rate'>Select Rate</label>
                        <select class='form-control mb-2' name='service_rate' name='service_rate'>${rt_options}</select>
                        <input type='number' required name='break_point' class='form-control' >
                    </form>
                `

                amodal.setBodyHtml(form)
                amodal.setTitleText("Adding Product Rate")
                amodal.setFooterHtml(`<button class='btn btn-info' id='add_product_rate'>Save</button><button class='btn btn-info' id='add_product_rate'>Cancel</button>`)

                $('#add_product_rate').click(function(){
                    $('#add_rate_form').submit()
                })
            });

        })

        $('#groups').click(async function () {
            let bd = `
                `;

            let payliad = {
                module: 'group',
                data: {
                    id: '*'
                }
            };
            await api.v2('VIEW', payliad, '/ssml/api/').then(res => {

                if (anton.IsRequest(res)) {
                    let groups = res.message;
                    bd = groups.map(group => `
                            <tr>
                                <td>${group.name}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger" onclick="">DELETE</button>
                                </td>
                            </tr>
                        `).join('');

                    amodal.setTitleText('Groups');
                    amodal.setBodyHtml(`
                            <table class="table table-bordered table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th>NAME</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${bd}
                                </tbody>
                            </table>
                        `);
                    amodal.setFooterHtml('<button id="new-group" class="btn btn-primary">NEW GROUP</button>');
                    amodal.show();

                } else {
                    kasa.response(res);
                }
            }).catch(err => {
                kasa.error(err.message || 'Failed to get groups');
            });



            $('#new-group').click(function () {
                amodal.setTitleText('New Group');
                amodal.setBodyHtml(`
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="new_group_name" name="new_group_name">
                        </div>
                    `);
                amodal.setFooterHtml('<button id="save-group" class="btn btn-primary">SAVE</button> <button id="cancel-group" class="btn btn-secondary">CANCEL</button>');
                // amodal.show();
                $('#cancel-group').click(function () {
                    // click groups button
                    $('#groups').click();
                });
                $('#save-group').click(async function () {
                    let ids = ['new_group_name'];
                    if (anton.validateInputs(ids)) {
                        let name = $('#new_group_name').val();
                        let payload = {
                            module: 'group',
                            data: {
                                name: name
                            }
                        };
                        await api.v2('PUT', payload, '/ssml/api/').then(res => {
                            if (anton.IsRequest(res)) {
                                $('#groups').click();
                            }
                            kasa.response(res);
                        }).catch(err => {
                            kasa.error(err.message || 'Failed to create group');
                        });
                    } else {
                        kasa.error('Please fill all fields');
                    }
                });
            });
        });

        document.addEventListener('click', async function (e) {
            if (e.target.id.includes('edit_material')) {
                let id = $('#material_id').val();

                // get material
                let payload = {
                    module: 'material',
                    data: {
                        id: id
                    }
                };
                await api.v2('VIEW', payload, '/ssml/api/').then(async material_res => {
                    if (anton.IsRequest(material_res)) {
                        // get groups
                        let payload = {
                            module: 'group',
                            data: {
                                id: '*'
                            }
                        };
                        await api.v2('VIEW', payload, '/ssml/api/').then(group_res => {
                            if (anton.IsRequest(group_res)) {
                                let groups = group_res.message;
                                let groupOptions = groups.map(group => `
                                        <option value="${group.id}">${group.name}</option>
                                    `).join('');
                                let material = material_res.message;

                                let is_is_opt = `<option value='0'>NO</option>
                                               <option value='1'>Yes</option>`
                                if(material.is_issue){
                                    is_is_opt = `<option value='0'>NO</option>
                                               <option selected value='1'>Yes</option>`
                                }

                                let is_ret = `<option value='0'>NO</option>
                                               <option value='1'>Yes</option>`
                                if(material.is_return){
                                    is_ret = `<option value='0'>NO</option>
                                               <option selected value='1'>Yes</option>`
                                }

                                let auto_issue = `<option value='0'>NO</option>
                                               <option value='1'>Yes</option>`
                                if(material.auto_issue){
                                    auto_issue = `<option value='0'>NO</option>
                                               <option selected value='1'>Yes</option>`
                                }
                                

                                let form = `
                                    <div class='container'>
                                        <div class='row'>
                                            <div class='col-sm-4'>
                                                <div class="form-group mb-3">
                                                    <label for="barcode">Barcode</label>
                                                    <input type="text" readonly class="form-control" id="barcode" name="barcode" value="${material.barcode}">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" id="name" name="name" value="${material.name}">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="group">Group</label>
                                                    <select class="form-control" id="group" name="group">
                                                            ${groupOptions}
                                                    </select>
                                                </div>                                            
                                            </div>  
                                            
                                            <div class='col-sm-4'>
                                                <div class="form-group mb-3">
                                                    <label for="reorder_qty">Reorder Qty</label>
                                                    <input type="number" class="form-control" id="reorder_qty" name="reorder_qty" value="${material.reorder_qty}">
                                                </div>
                                                
                                                <div class="form-group mb-3">
                                                    <label for="value">Value</label>
                                                    <input type="number" class="form-control" id="value" name="value" value="${material.value}">
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="is_return">Is Return?</label>
                                                    <select class="form-control" id="is_return" name="is_return">
                                                    ${is_ret}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class='col-sm-4'>
                                                <div class="form-group mb-3">
                                                    <label for="is_issue">Is Issue?</label>
                                                    <select class="form-control" id="is_issue" name="is_issue">
                                                    ${is_is_opt}
                                                    </select>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="auto_issue">Auto Issue?</label>
                                                    <select class="form-control" id="auto_issue" name="is_issue">
                                                    ${auto_issue}
                                                    </select>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="issue_qty">issue_qty</label>
                                                    <input type="number" class="form-control" id="issue_qty" name="issue_qty" value="${material.issue_qty}">
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="item_type">Item Type</label>
                                                    <select class="form-control" id="item_type" name="item_type">
                                                        <option value='gen'>Genral</option>
                                                        <option value='pri'>Primary</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>    
                                    </div>
                                        
                                `;
                                console.table(material);
                                amodal.setTitleText('Edit Material');
                                amodal.setBodyHtml(form);
                                amodal.setSize("XL")
                                amodal.setFooterHtml('<button class="btn btn-primary" id="save-material">Save</button> <button class="btn btn-secondary" id="cancel-material">Cancel</button>');
                                amodal.show();

                                $('#save-material').click(async function () {
                                    let ids = ['barcode', 'name', 'group', 'reorder_qty', 'value','is_return','is_issue','issue_qty','auto_issue','item_type'];
                                    if (anton.validateInputs(ids)) {
                                        let payload = {
                                            module: 'material',
                                            data: {
                                                id: id,
                                                barcode: $('#barcode').val(),
                                                name: $('#name').val(),
                                                group: $('#group').val(),
                                                reorder_qty: $('#reorder_qty').val(),
                                                value: $('#value').val(),
                                                is_return:$('#is_return').val(),
                                                is_issue:$('#is_issue').val(),
                                                issue_qty:$('#issue_qty').val(),
                                                auto_issue:$('#auto_issue').val(),
                                                item_type:$('#item_type').val()
                                            }
                                        };

                                        console.log("THIS IS WHERE WE HAVE FISHES")
                                        await api.v2('PATCH', payload, '/ssml/api/').then(res => {
                                            kasa.response(res);
                                            getMaterials();
                                            amodal.hide();
                                            
                                            $('#upload-image').submit();
                                        }).catch(err => {
                                            kasa.error(err.message || 'Failed to update material');
                                        });
                                    }
                                });

                                $('#cancel-material').click(function () {
                                    amodal.hide();
                                });

                            } else {
                                kasa.response(res);
                            }
                        }).catch(err => {
                            kasa.error(err.message || 'Failed to get material');
                        });



                    }
                }).catch(err => {
                    kasa.error(err.message || 'Failed to get material');
                });
            }  

            if(e.target.classList.contains('see-cardex')){
                let id = $('#material_id').val();
                
                let payload = {
                    module:'cardex',
                    data:{
                        pk:id
                    }
                }

                await api.v2('VIEW',payload,'/ssml/api/').then(response => {
                    if(anton.IsRequest(response)){
                        let message = response.message;
                        //console.table(message)
                        let rows = "";
                        message.map(item => {
                            console.table(item)
                            rows += `
                                <tr>
                                    <td>${item['created_at'].split('T')[0]}</td> 
                                    <td>${item['doc_type']}</td> 
                                    <td>${item['doc_no']}</td> 
                                    <td>${item['qty']}</td>   
                                </tr>
                            `
                        })

                        let ht = `<table class='table table-sm table-bordered'><tbody>${rows}</tbody></table>`

                        amodal.setBodyHtml(ht);
                        amodal.setTitleText('Cardex')
                        amodal.show()

                    } else {
                        kasa.response(response)
                    }
                }).catch(error => {
                    kasa.error(error)
                })
                
            }
        });

        //getMaterials();

        $('#next-material').click(function(){   
            let pk = $('#next-material').val();
            ssml.loadMaterial(pk);
        })

        $('#prev-material').click(function(){
            let pk = $('#prev-material').val();
            ssml.loadMaterial(pk);
        })

        $('#search-material').click(function(){
        amodal.setTitleText('Search Material');
        amodal.setBodyHtml(`
            <div class="mb-2">
                <input type="text" id="search-material-input" class="form-control" placeholder="Enter material name or barcode">
            </div>
            <div id="search-material-results"></div>
        `);
        amodal.show();

        // Handler for search input
        $('#search-material-input').off('input').on('input', function() {
            let query = $(this).val().trim();
            if (query.length < 2) {
                $('#search-material-results').html('');
                return;
            }
            let payload = {
                module: 'material',
                data:{
                    'id':query
                },
                method: 'SEARCH',
                query: query
            };
            api.v2('VIEW', payload, '/ssml/api/').then(response => {
                if (anton.IsRequest(response)) {
                    let materials = response.message || [];
                    if (materials.length === 0) {
                        $('#search-material-results').html('<div class="text-muted">No materials found.</div>');
                        return;
                    }
                    let rows = materials.map(item => `
                        <tr>
                            <td>${item['barcode'] || ''}</td>
                            <td>${item['name'] || ''}</td>
                            <td>${item['group']['name'] || ''}</td>
                            <td>
                                <button class="btn btn-sm btn-primary view-material-btn" data-pk="${item['id']}">View</button>
                            </td>
                        </tr>
                    `).join('');
                    let table = `
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Barcode</th>
                                    <th>Name</th>
                                    <th>Group</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${rows}
                            </tbody>
                        </table>
                    `;
                    $('#search-material-results').html(table);
                    // Delegate click for view button
                    $('.view-material-btn').click( function() {
                        let pk = parseInt($(this).data('pk'));
                        amodal.hide();
                        console.log(pk)
                        ssml.loadMaterial(pk);
                    });
                } else {
                    $('#search-material-results').html('<div class="text-danger">Error: ' + (response.message || 'Unknown error') + '</div>');
                }
            }).catch(error => {
                $('#search-material-results').html('<div class="text-danger">Error: ' + error + '</div>');
            });
        });

        
        })

        $('.add_service').click(function(){
            let id = $(this).data('id');
            $('#link_model_model').modal('hide')
            amodal.setBodyHtml(`<input id='x_qty' class='form-control rounded-0' type='text' value=1>`)
            amodal.setFooterHtml(`<button id='link_srv_mat'>SAVE</button>`)
            amodal.show()
            $('#link_srv_mat').click(function(){
                let ids = ['x_qty'];
                if(anton.validateInputs(ids)){
                    let payload = {
                        module:'service_materials',
                        data:{
                            barcode:$('#barcode').val(),
                            service:id,
                            qty:$('#x_qty').val()
                        }
                    }

                    kasa.response(api.call('PUT',payload,'/ssml/api/'))
                }
            })
        })

        $('#stock-transfer').click(function(){
            let barcode = $('#barcode').val()

            amodal.setTitleText("STOCK TRANSFER")
            amodal.setBodyHtml(`
                <input type='text' class='form-control' id='src_barcode' >
                <div class="form-group mt-2">
                    <label for="delete_select">Delete Source Material?</label>
                    <select id="delete_select" class="form-control">
                        <option value="NO">No</option>
                        <option value="YES">Yes</option>
                    </select>
                </div>
            `)
            amodal.setFooterHtml(`<button class='btn btn-info' id='transfer_stock'>Transfer</button>`)
            
            amodal.show()

            $('#transfer_stock').click(async function(){
                loader.show()
                let payload = {
                    module:'stock_transfer',
                    data:{
                        source:barcode,
                        destination:$('#src_barcode').val(),
                        'delete':$('#delete_select').val()
                    }
                }

                console.table(payload)


                await api.v2('PATCH',payload,'/ssml/api/').then(response => {
                    kasa.response(response)
                    loader.hide()
                }).catch(error => {
                    kasa.error(error)
                    loader.hide()
                })


            })
        })

        ssml.loadMaterial(last_pk);
    });

</script>



{% endblock %}