{% extends 'ssml/ssmlbase.html' %}
{% load static %}


{% block body %}


    <div class="card-header">
        <div class="w-100 d-flex">
            <div class="w-50 d-flex">
                <button id="new" class="btn btn-sm ms-2 btn-primary">NEW</button>
                <button id="delete" class="btn btn-sm ms-2 btn-danger">DELETE</button>

                <button id="prev_row" class="btn btn-sm ms-2 btn-primary">PREV</button>
                <button id="next_row" class="btn btn-sm ms-2 btn-primary">NEXT</button>
            </div>
            <div class="w-50 d-flex">

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container h-100">
            <div class="row py-2">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-4"><label for="contractor">Contractor</label></div>
                        <div class="col-sm-8 mb-3"><input readonly type="text" class="form-control rounded-0" id="contractor"></div>

                        <div class="col-sm-4"><label for="entry_no">Entry No.</label></div>
                        <div class="col-sm-8 mb-3"><input readonly type="text" class="form-control rounded-0" id="entry_no"></div>
                        <input type="hidden" id="id">

                        <div class="col-sm-4"><label for="entry_date">Date.</label></div>
                        <div class="col-sm-8"><input readonly type="text" class="form-control rounded-0" id="entry_date"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-4"><label for="type">Type</label></div>
                        <div class="col-sm-8 mb-3"><input readonly type="text" class="form-control rounded-0" id="type"></div>

                        <div class="col-sm-4"><label for="remarks">Remarks.</label></div>
                        <div class="col-sm-8 mb-3">
                            <textarea readonly type="text" class="form-control rounded-0" id="remarks" rows="3"></textarea>
                        </div>

                    </div>
                </div>

            </div>

            <div class="h-75 overflow-auto" style="background-color: aliceblue;">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>BARCODE</th>
                            <th>NAME</th>
                            <th>PACK UM</th>
                            <th>BALANCE</th>
                            <th>QTY</th>
                            <th>REASON</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>


    <script>
        let next_row = 0
        let prev_row = 0
        $(document).ready(function(){
            $('#new').click(function(){
                location.href = '/ssml/inventory/redeem/new/'
            })

            ssml.loadReedem(`{{last_entry.pk}}`)

            $('#next_row').click(function(){
                ssml.loadReedem(next_row)
            })

            $('#prev_row').click(function(){
                ssml.loadReedem(prev_row)
            })  

            $('#delete').click(function(){
                ssml.deleteReedem($('#id').val())
            })
        })
    </script>

{% endblock %}