{% extends 'ssml/ssmlbase.html' %}
{% load static %}

{% block body %}

<div class="card-header">
    <div class="d-flex justify-content-between">
        <div class="w-50 d-flex">
            <button id="new_service_order" class="btn btn-success ms-2"><i class="bi bi-plus"></i> New</button>
            <button id="edit_service_order" class="btn btn-primary ms-2"><i class="bi bi-pencil"></i> Edit</button>
            <button class="btn btn-primary ms-2" id="prev_service_order" onclick="ssml.LoadServiceOrder(`{{ last_service_order.prev_row }}`)">Prev</button>
            <button class="btn btn-primary ms-2" id="next_service_order" onclick="ssml.LoadServiceOrder(`{{ last_service_order.next_row }}`)">Next</button>
        </div>
        <div class="w-50 d-flex justify-content-end align-items-center">
            <button class="btn btn-warning" id="service_type_btn">Service Types</button>
            <button id="close_job" class="btn btn-danger ms-2"><i class="bi bi-x-circle"></i> Close Job</button>
            <button id="view_job" class="btn btn-primary ms-2"><i class="bi bi-eye"></i> View</button>
        </div>
    </div>
</div>
<div id="" class="card-body overflow-hidden">
    <div class="container-fluid p-2 h-75 overflow-hidden">
        <div class="row">
            <div class="col-sm-4">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="contractor">Contractor</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="contractor" class="form-control rounded-0">
                        <input type="hidden" id="service_order_id" name="service_order_id">
                    </div>
                </div>

                
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="service_type">Service Type</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="service_type" class="form-control rounded-0">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="service_date">Date</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="service_date" class="form-control rounded-0">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="customer">Customer</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="customer" class="form-control rounded-0">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="customer_no">Customer #</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="customer_no" class="form-control rounded-0">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="geo_data">Geo</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="geo_data" class="form-control rounded-0">
                    </div>
                </div>


            </div>
            <div class="col-sm-4">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="old_meter_no">Old Meter</label>
                    </div>
                    <div class="col-sm-4 pr-0">
                        <input type="text" readonly id="old_meter_no" class="form-control rounded-0">
                    </div>
                    <div class="col-sm-4 pl-0">
                        <input type="text" id="old_meter_no_reading" class="form-control rounded-0">
                    </div>
                </div>

                <div class="row mb-2 ">
                    <div class="col-sm-4">
                        <label for="new_meter_no">New Meter</label>
                    </div>
                    <div class="col-sm-4 pr-0">
                        <input type="text" readonly id="new_meter_no" class="form-control rounded-0">
                    </div>
                    <div class="col-sm-4 pl-0">
                        <input type="text" readonly id="new_meter_no_reading" class="form-control rounded-0">
                    </div>
                </div>

                <div class="row mb-2">  
                    <div class="col-sm-4">
                        <label for="total_amount">Total Amount</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly id="total_amount" class="form-control text-success rounded-0">
                    </div>
                </div>

                
            </div>
        </div>

        <div class="h-80 overflow-auto" >
            <div class="card rounded-0 border h-100 overflow-hidden">
                <div class="card-header">
                    <ul class="nav nav-pills" id="serviceOrderTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="materials-tab" data-toggle="tab" href="#materials" role="tab" aria-controls="materials" aria-selected="true">Materials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="returns-tab" data-toggle="tab" href="#returns" role="tab" aria-controls="returns" aria-selected="false">Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body overflow-hidden">
                    <div class="tab-content" id="serviceOrderTabContent">
                        <div class="tab-pane fade show active" id="materials" role="tabpanel" aria-labelledby="materials-tab">
                            <div class="p-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Barcode</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody id="materials_table">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="returns" role="tabpanel" aria-labelledby="returns-tab">
                            <div class="p-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Barcode</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="returns_table">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                            <div class="p-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="services_table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <!-- <div id="result"></div> -->
    
</div>


<script>
   
        
        $(document).ready(function(){

            // ssml.LoadServiceOrders();
            ssml.LoadServiceOrder(`{{ last_service_order.id }}`);

            $('#view_job').click(function(){
                let id = $('#service_order_id').val();
                ssml.viewServiceOrder(id);
            });

            $('#new_service_order').click(function(){
                location.href = '/ssml/service-order/new/';
            });

            $('#edit_service_order').click(function(){
                let id = $('#service_order_id').val();
                ssml.LoadServiceOrder(id);
            });
            $('#service_type_btn').click(async function(){
                let payload = {
                        module: 'service_type',
                        data: {
                            id:'*'
                        }
                    }

                    await api.v2('VIEW',payload,'/ssml/api/').then(res => {
                        if(anton.IsRequest(res)){
                            let services_types = res.message;
                            
                            let tr = '';
                            services_types.forEach(service_type => {
                                tr += `<tr><td>${service_type.name}</td><td>${service_type.description}</td><td><button class="btn btn-primary" onclick="editServiceType(${service_type.id})">Edit</button></td></tr>`;
                            });

                            let body = `
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="service_types_table">
                                            ${tr}
                                        </tbody>
                                    </table>
                                </div>
                            `;
                            amodal.setTitleText('Service Types');
                            amodal.setBodyHtml(body);
                            amodal.setFooterHtml('<button class="btn btn-primary" id="add_service_type">Add Service Type</button>');
                            amodal.show();

                            $('#add_service_type').click(function(){
                                let form = `
                                    <div class="form-group">
                                        <label for="service_name">Service Name  </label>
                                        <input type="text" class="form-control" id="service_name" name="service_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="service_description">Service Description</label>
                                        <input type="text" class="form-control" id="service_description" name="service_description">
                                    </div>
                                `;

                                amodal.setTitleText('Add Service Type');
                                amodal.setBodyHtml(form);
                                amodal.setFooterHtml('<button class="btn btn-primary" id="save_service_type">Save</button>');
                                amodal.show();

                                $('#save_service_type').click(async function(){
                                    let ids = ['service_name','service_description','mypk'];
                                    if(anton.validateInputs(ids)){
                                        let payload = {
                                            module: 'service_type',
                                            data: anton.Inputs(ids)
                                        }

                                        await api.v2('PUT',payload,'/ssml/api/').then(res => {
                                            if(anton.IsRequest(res)){
                                                kasa.success(res.message);
                                                $('#service_type_btn').click();
                                            } else {
                                                kasa.response(res);
                                            }
                                        }).catch(err => {
                                            kasa.error(err);
                                        });
                                    }
                                    
                                    
                                });


                            });
                        
                        }
                    }).catch(err => {
                        kasa.error(err);
                    });

                    
                });

                
            $('#new_service_order').click(async function(){
                

                // get service types
                let payload = {
                    module: 'service_type',
                    data: {
                        id:'*'
                    }
                }

                await api.v2('VIEW',payload,'/ssml/api/').then(res => {
                    if(anton.IsRequest(res)){
                        let service_types = res.message;
                        let service_type_options = '';
                        service_types.forEach(service_type => {
                            service_type_options += `<option value="${service_type.id}">${service_type.name}</option>`;
                        });

                        let form = `
                            <div class='row'>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="service-type">Service Type</label>
                                    <select class="form-control" id="service-type" name="service-type">
                                        <option value="">Select Service Type</option>
                                        ${service_type_options}
                                    </select>
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="service_date">Service Date</label>
                                    <input type="date" class="form-control" id="service-date" name="service-date">
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="contractor">Contractor</label>
                                    <select class="form-control" id="contractor" name="contractor">
                                        <option value="">Select Contractor</option>
                                        {% for contractor in contractors %}
                                            <option value="{{ contractor.id }}">{{ contractor.company }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="plot">Plot</label>
                                    <input type="text" class="form-control" id="plot" name="plot">
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="geo-code">Geo Code</label>
                                    <input type="text" class="form-control" id="geo-code" name="geo-code">
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="customer">Customer</label>
                                    <input type="text" class="form-control" id="customer" name="customer">
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="customer_no">Customer #</label>
                                    <input type="text" class="form-control" id="customer_no" name="customer_no">
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="old_meter_no">Old Meter No</label>
                                    <input type="text" class="form-control" id="old_meter_no" name="old_meter_no">
                                </div>

                                <div class="form-group mb-3 col-sm-6">
                                    <label for="new_meter_no">New Meter No</label>
                                    <input type="text" class="form-control" id="new_meter_no" name="new_meter_no">
                                </div>
                                
                            </div>

                            
                            
                            

                            
                        `;
                        amodal.setTitleText('Add Service Order');
                        amodal.setBodyHtml(form);
                        amodal.setFooterHtml('<button class="btn btn-primary" id="add-service-order-btn">Add Service Order</button>');
                        amodal.setSize('L');
                        amodal.show();

                        $('#add-service-order-btn').click(async function(){
                            let ids = ['service-type','service-date','contractor','plot','geo-code','customer','customer_no','old_meter_no','new_meter_no','mypk'];
                            if(anton.validateInputs(ids)){
                                let payload = {
                                    module: 'service_order',
                                    data: anton.Inputs(ids)
                                }

                                await api.v2('PUT',payload,'/ssml/api/').then(res => {
                                    if(anton.IsRequest(res)){
                                        kasa.success(res.message);
                                        amodal.hide();
                                        load_service_orders()
                                    } else {
                                        kasa.response(res);
                                    }
                                }).catch(err => {
                                    kasa.error(err);
                                });
                            } else {
                                kasa.error('Please fill all the fields');
                            }
                        });
                        

                    } else {    
                        kasa.response(res);
                    }
                }).catch(err => {
                    kasa.error(err);
                    return;
                });

                
            });
        });
    
</script>   


{% endblock %}
