{% extends 'retail/base.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-4">
                <div class="card">
                    <div class="card-body p-2">
                        <h5 class="text-muted">Metric</h5>
                        <div class="w-100 d-flex">
                            <div class="w-50">
                                {{ matrix.on_bolt }}/{{ matrix.all }} <br>
                                <span class="text-success">{{ matrix.cent }}%</span>
                            </div>
                            <div class="w-50 d-flex flex-wrap justify-content-end">
{#                                <div style="height: 50px; width: 50px"#}
{#                                     class="rounded-circle border border-2 border-info d-flex flex-wrap justify-content-center align-content-center bg-info"#}
{#                                >20%</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">BOLT WEEKLY TOTAL</h5>

                      <!-- Line Chart -->
                      <canvas id="legendCart" style="max-height: 400px;"></canvas>

                      <!-- End Line CHart -->

                    </div>
                  </div>
                </div>

            <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">WEEKLY SALES COMPARE</h5>

                      <!-- Line Chart -->
                      <canvas id="lineChart" style="max-height: 400px;"></canvas>

                      <!-- End Line CHart -->

                    </div>
                  </div>
                </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Menus</strong>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>MENU</th>
                                        <th>Products</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="menu_body">
                                    <tr><td colspan="3">
                                        <div class="spinner-border spinner-border-sm" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>

                                    </td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>

    // Function to generate a random RGB color
        function getRandomRGBColor() {
            const r = Math.floor(Math.random() * 256); // Random value between 0 and 255
            const g = Math.floor(Math.random() * 256); // Random value between 0 and 255
            const b = Math.floor(Math.random() * 256); // Random value between 0 and 255
            return `rgb(${r}, ${g}, ${b})`;
        }
        // line labels

        function load_sales_graph_week() {
            let sales_graph_week = retail.bolt_graph_week();
            console.table(sales_graph_week)
            let lables = []
            let dataset = []
            if(anton.IsRequest(sales_graph_week)){
                let data = sales_graph_week.message;
                labels = data['labels']
                let obj = data['dataset'];

                for (let key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        let st = obj[key]
                        let set_data = [];
                        for(let s = 0; s < st.length; s++){
                            set_data.push(st[s])
                        }
                        dataset.push({
                        label: `${key}`,
                            data: st,
                            fill: false,
                            borderColor: getRandomRGBColor(),
                            tension: 0.1
                    })
                    }
                }
            }
            document.addEventListener("DOMContentLoaded", () => {
                new Chart(document.querySelector('#lineChart'), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        }

        function load_main_graph_week() {
            let sales_graph_week = retail.bolt_graph_week();
            console.table(sales_graph_week)
            let lables = []
            let dataset = []
            if(anton.IsRequest(sales_graph_week)){
                let data = sales_graph_week.message;
                labels = data['labels']
                let obj = data['totalset'];

                for (let key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        let st = obj[key]
                        let set_data = [];
                        for(let s = 0; s < st.length; s++){
                            set_data.push(st[s])
                        }
                        dataset.push({
                        label: `${key}`,
                            data: st,
                            fill: false,
                            borderColor: getRandomRGBColor(),
                            tension: 0.1
                    })
                    }
                }
            }
            document.addEventListener("DOMContentLoaded", () => {
                new Chart(document.querySelector('#legendCart'), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: dataset
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        }
        load_main_graph_week();
        load_sales_graph_week();
        async function load_menus() {
            await api.v2('VIEW', {module: 'entity_type'}, '/adapi/').then(res => {
                if(anton.IsRequest(res)){
                    let entities = res.message;
                    let tr = '';
                    for(let m = 0; m < entities.length; m++){
                        const ent = entities[m]
                        tr += `
                            <tr><td><a href="/retail/bolt/menu/${ent['name']}/">${ent['name']}</a></td><td>${ent['bolt_menu']['menu'].length}</td><td>

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            --
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="retail.boltPriceChange('${ent.pk}')" href="javascript:void(0)">Export Price Change</a>
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="retail.bolt_stock_update('${ent.pk}')">Export Stock Level</a>
                                            <a class="dropdown-item expiry" entity='${ent.pk}' href="javascript:void(0)">Expiry</a>
                                        </div>
                                    </div>

                                    </td></tr>
                        `
                    }

                    $('#menu_body').html(tr)
                    $('.expiry').click(function(){
                        let entity = $(this).attr('entity');
                        retail.boltExpityExport(entity)
                    })
                } else {
                    kasa.error("Cannot Load Menu")
                }
            })
        }

        {#load_main_graph_week();#}
        {#load_sales_graph_week();#}

        $(document).ready(function(){


            // load menus
            load_menus()


        })


    </script>
{% endblock %}