{% extends 'retail/base.html' %}
{% load static %}
{% block body %}
    <div class="card h-100">
        <div class="card-header">
        <div class="w-100 h-100 d-flex flex-wrap">
            <div class="w-25 h-100"><strong class="card-title">BOLT ITEMS</strong></div>
            <div class="w-75 h-100 d-flex flex-wrap justify-content-end align-content-center">
{#                <button style="border-radius: 0 !important" onclick="retail.boldUploadScreen()" class="btn btn-outline-info"><i class="bx bx-upload"></i> UPLOAD BATCH</button>#}
{#                <button style="border-radius: 0 !important" onclick="retail.markProducts()" class="btn btn-outline-dark"><i class="bx bx-checkbox-checked"></i> MARK UPDATE</button>#}
{#                <button style="border-radius: 0 !important" onclick="retail.checkPrices()" class="btn btn-outline-primary">PRICE CHANGE</button>#}
{#                <a href="javascript:void(0)" style="border-radius: 0 !important" onclick="retail.exportItems('*')" class="btn btn-outline-warning"><i class="fa fa-file-excel"></i> Export</a>#}
{#                <button onclick="retail.sync2bolt()" style="border-radius: 0 !important" class="btn btn-outline-info">sync2bolt</button>#}
                <div class="dropdown dropleft">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="retail.migrateBoltItems('from')" href="javascript:void(0)">Make Migration</a>
                        <a class="dropdown-item" id="add_items_to_menu" href="javascript:void(0)">Add To Menu</a>
                        <a class="dropdown-item" onclick="retail.boldUploadScreen()" href="javascript:void(0)"><i class="bx bx-upload"></i> UPLOAD BATCH</a>
                        <a class="dropdown-item" onclick="retail.markProducts()" href="javascript:void(0)"><i class="bx bx-checkbox-checked"></i> MARK UPDATE</a>
                        <a class="dropdown-item" onclick="retail.checkPrices()" href="javascript:void(0)">PRICE CHANG</a>
{#                        <a class="dropdown-item" onclick="retail.exportItems('*')" href="javascript:void(0)"><i class="fa fa-file-excel"></i> Export</a>#}
                        <div class="dropdown-divider"></div>
                        <h5 class="dropdown-header">V2</h5>
                        <a class="dropdown-item" onclick="retail.sync2bolt()" href="javascript:void(0)"><i class="bx bx-sync"></i> sync2bolt</a>
                        <a class="dropdown-item" onclick="retail.mark_send2bold()" href="javascript:void(0)"><i class="bx bx-checkbox-checked"></i>mark_send2bold</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="card-body overflow-auto">
        <table class="table datatable">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>GROUP</th>
                    <th>SUN GROUP</th>
                    <th>BARCODE</th>
                    <th>NAME</th>
                    <th>ACT</th>
                    <th>BOLT PRICE</th>
                    <th>INVENTORY PRICE</th>
                    <th>SPINTEX</th>
                    <th>NIA</th>
                    <th>OSU</th>
                    <th>SYNC</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr id="row_{{ item.product.barcode }}" class="{% if item.is_sync == False %}text-warning{% endif %}">
                        <td><img onclick="windowPopUp(`{{ item.image.url }}`,'',600,600)" src="{{ item.image.url }}" alt="" style="width: 50px" class="img-fluid"></td>
                        <td>{{ item.group.name }} </td>
                    <td>{{ item.subgroup.name }}</td>
                        <td>{{ item.product.barcode }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-menu"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <div class="dropdown-header">Menu</div>
                                  <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-primary" href="javascript:void(0)" onclick="retail.changeBoltGroupScreen('{{ item.pk }}')"><i class="bx bx-group"></i> Change Category</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-secondary" href="javascript:void(0)" onclick="retail.changeBoltImage(`{{ item.product.barcode }}`)"><i  class="bx bx-image"></i> Change Image</a>
                                   <div class="dropdown-divider"></div>
                                  <a class="dropdown-item text-danger" href="javascript:void(0)" onclick="retail.removeFromBolt(`{{ item.product.barcode }}`)"><i  class="bx bx-trash"></i> Remove</a>

                              </div>
                            </div>

                        </td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.product.price }}</td>
                        <td class="{% if item.stock_spintex == 1 %}text-success{% else %}text-danger{% endif %}">{{ item.stock.spintex }}</td>
                        <td class="{% if item.stock_nia == 1 %}text-success{% else %}text-danger{% endif %}">{{ item.stock.nia }}</td>
                        <td class="{% if item.stock_osu == 1 %}text-success{% else %}text-danger{% endif %}">{{ item.stock.osu }}</td>
                        <td>{{ item.is_sync }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


    <script>
        $(document).ready(function(){
            $('#add_items_to_menu').click(function(){
                let menu = location.href.split('/')[6].toLowerCase()

                let decider_html = `
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <button id="select_menu_items" style='height:100px; border-radius:0' class="btn w-100 btn-outline-primary"><i class="fa fa-check-square"></i> SELECT</button>
                            </div>
                            <div class="col-sm-6">
                                <button id="upload_menu_items" style='height:100px; border-radius:0' class="btn w-100 btn-outline-secondary"><i class="fa fa-upload"></i> IMPORT</button>
                            </div>
                        </div>
                    </div>
                `;

                amodal.setBodyHtml(decider_html)
                amodal.setTitleText("ADD ITEMS TO MENU")
                amodal.show()

                // handle select
                $('#select_menu_items').click(async function () {
                    loader.show()
                    amodal.hide()
                    let payload = {
                        module: 'entity_prod_mast',
                        data: {
                            entity_name: menu,
                            filter_flag:'not_on_bolt'
                        }
                    }

                    await api.v2('VIEW', payload, '/retail/api/').then(response => {
                        if(anton.IsRequest(response)){
                            let tr = ""
                            let items = response.message;
                            for(let t = 0; t < items.length; t++){
                                const item = items[t];
                                tr += `
                                    <tr>
                                        <td><input type="checkbox" class="check_item_for_bolt_select"></td>
                                        <td>${item.barcode}</td>
                                        <td>${item.name}</td>
                                        <td>${item.price}</td>

                                    </tr>`
                            }
                            let table = `
                                <table class="table datatable table-bordered table-striped table-hover">
                                   <thead><tr><th><button class="btn btn-sm"><i class="fa fa-check-square"></i></button></th><th>BARCODE</th><th>NAME</th><th>PRICE</th></tr></thead>
                                    <tbody>
                                    ${tr}
                                    </tbody>
                                </table>
                            `
                            let card = `

                                <div style="height: 75vh !important; overflow: auto" class="card">
                                    <div class='card-header'>

                                    </div>
                                    <div class="card-body overflow-auto">${table}</div>
                                </div>
                                `
                            amodal.setBodyHtml(card)
                            amodal.setTitleHtml(`
                                Select Items
                            `)
                            amodal.setSize('XL')
                            amodal.show()
                            console.table(items)
                            loader.hide()
                        } else {
                            loader.hide()
                            kasa.response(response)
                        }
                    }).catch(error => {
                        kasa.error(error)
                    })

                })

            })
        })
    </script>
{% endblock %}