{% extends 'retail/base.html' %}
{% load static %}

{% block body %}
    <div class="card-header">
        <div class="w-100 d-flex flex-wrap">
            <div class="w-50"><strong class="card-title">RETAIL STOCK CHECK</strong></div>
            <div class="w-50 d-flex flex-wrap justify-content-end">
                <button id="retrieve" class="btn btn-sm btn-info">RETRIVE</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-response">

        </div>
    </div>

    <script>
        $(document).ready(function(){
            // retrieve stock frozen
            $('#retrieve').click(function(){
                retail.retrieveSockFreezeScreen();
            });

            retail.loadStockFreeze()
        });
    </script>
{% endblock %}