{% extends 'employee/emp_base.html' %}
{% load static %}

{% block body %}

<div class=card-body>
   <div class="table-responsive">
       <table id="attd_table" class="table table-responsive-md">
           <thead>
                <tr>
                    <th>DATE</th>
                    <th>TIME IN</th>
                    <th>TIME OUT</th>
                    <th>IS LATE</th>
                </tr>
           </thead>

           <tbody id="att_bd">
           <tr class="loading-row">
               <td colspan="5" class="text-center">
                   <div class="spinner-border text-primary" role="status">
                       <span class="sr-only">Loading...</span>
                   </div>
               </td>
           </tr>
           </tbody>
       </table>
   </div>
</div>

    <script>
        $(document).ready(function(){
            // load attendance
            staff.loadMyAttendance('week')
        })
    </script>

    
{% endblock %}