{% extends 'employee/emp_base.html' %}
{% load static %}

{% block body %}
<div class="card-header">
    <div class="w-100 d-flex">
        <div class="w-50d-flex">
            <button id="apply_for_leave" class="btn btn-info">Apply</button>
            <button class="btn btn-"></button>
        </div>
        <div class="w-50d-flex"></div>
    </div>
</div>

<script>
    let emp_code = `{{my_adon.bio_id}}`
    $(document).ready(function(){
        $('#apply_for_leave').click(function(){
            staff.LeaveRequestForm(emp_code)
        })
    })
</script>
{% endblock %}
